@import url("https://fonts.googleapis.com/css?family=Roboto:100,regular,700,900,&display=swap");
@font-face{
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face{
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
   font-display: swap;
   font-weight: 500;
   font-style: normal;
}
@font-face{
   font-family: "Larsseit";
   src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face{
   font-family: "Lato";
   src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face{
   font-family: "Lato";
   src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face{
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}
*{
   font-family: Larsseit;
}
.title{
   color: black;
   font-family: Roboto;
   font-weight: 900;
}
div.text{
   color: brown;
}
.content  li{
   color: green;
}
.history{
   font-family: Roboto;
   font-weight: 700;
}
.history ~ p{
   font-family: Lato;
   color: gold;
}
#priority{
   color: rgb(8, 114, 13);
   font-weight: 900;
}
.classification{
   font-family: Roboto;
   font-weight: 900;
   color: green;
}
.color{
   color: blue;
}
.facts{
   font-family: Roboto;
   font-weight: 900;
}
.watch{
   font-family: Roboto;
   font-weight: 900;
}
.lesson,
.sport{
   color: red;
}



